@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'League Spartan', sans-serif;
    --back-color: #eff0f3;
    --head-color: #0d0d0d;
    --p-color: #2a2a2a;
    --button-color : #ff8e3c;
    --btn-text-color: #0d0d0d;
    --card-color : #E8E7E7;
}

body{
    margin: 0;
}
.navbar{
    background-color: transparent;
    margin-top: 30px;
}
.navbar ul{
    display: flex;
   padding: 0;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    
   

}
.navbar-item{

    transition: all 250ms;
    cursor: pointer;
    font-size: 1.1rem;
}
.navbar-item-container{
    padding-inline: 30px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-text-color);
}
.navbar-item-container:hover{
    color: var(--button-color);
}
#main{
    background-color: var(--back-color);
    height: 100%;
    width: 100%;
    margin: 0px;
    scroll-behavior: smooth;

    z-index: 2;
}

/**/
.container-top-button{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: sticky;
    top: 40px;
    right: 10px;
    z-index: 3;
}
@media only screen and (min-height: 200px) {
        .container-top-button{
            z-index: 3;
        }
    }
#top-button{
    cursor: pointer;
    margin-right: 20px;
    color: var(--p-color);
    transition: all 250ms;
}
#top-button:hover{
    color: var(--button-color);
}

.container{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
}
.title-cont{
    overflow: hidden;
}
.container .title-cont h1{
    font-weight: 500;
    font-size: 60px;
    transition: all 150ms;
    animation-name: appear;
    animation-duration: 3s;    
}
@keyframes appear{
    from{transform: translateY(200px);}
    to{transform: translateY(0px);}

}


.grid-main{
    display: grid;
    height: 110vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: -85px;
}
.grid-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--head-color);
    
}
.grid-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redirect-ab{
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    height: 45px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 2.5px solid var(--button-color);
    color: var(--btn-text-color);
    background-color: var(--button-color);
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
}
.redirect-ab:hover{
    background-color: var(--btn-text-color);
    color: var(--button-color);
    
}



.img-me{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transition:  400ms;
    border: 4px solid var(--button-color) ;
    
}
.img-me:hover{
    border: 4px solid var(--btn-text-color);
    transform: scale(1.01);
}

@media only screen and (max-width: 871px) {
    .img-me{
        width: 250px;
        height: 250px;
    }
    .container h1{
        text-align: center;
    }
}
@media only screen and (max-width: 556px) {
    .img-me{
        display: none;
    }
    .grid-main{
        display: flex;
    }
    
}
@media only screen and (max-width: 492px) {
    .navbar{
        display: none;
    }
    
}


/**/


.ab-me{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.ab-me-ph{
    
    color: var(--p-color);
}
.ab-me-ph p{
    margin-inline: 300px;
    font-size: 18px;
    line-height: 40px;
}
.ab-me-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--head-color);
}
.title-ab {
    position: relative;
    color: var(--head-color);
    text-decoration: none;
    width: fit-content;
  }
  
  .title-ab::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--button-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  .title-ab:hover::before {
    transform: scaleX(1);
  }
@media only screen and (max-width: 442px) {
    .ab-me{
        height: max-content;
    }
    body{
        height: fit-content;
        width: fit-content;
    }
}
@media only screen and (max-width: 900px) {
    .ab-me-ph p{
        margin-inline: 100px;
    }
}

/***************/

.projects{
    width: 100%;
    position: relative;
    display: block;
    

}
.projects-grid{
    
    height: 250vh;
}
.top-projects{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-title{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: sticky;
    width: 50%;
    top: 300px;
    margin-bottom: 440px;
    margin-top: 300px;
    float: left;
}
.all-projects{
    margin-top: 100px;
    float: right;
    width: 40%;
}

.pject{
    margin-block: 110px;
    width: 450px;
    height: 320px;
    background-color: var(--card-color) ;
    margin-right: 46px;
    border-radius: 30px;
}
.pject h5{
    margin-left: 30px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 0;
}

.pject p{
    font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 40px;
margin-inline: 20px;
}

.button-learn{
    margin-left: 34px;
    cursor: pointer;
    width: 247px;
    height: 47px;
    background-color: var(--button-color);
    border-radius: 11px;
}
@media only screen and (max-width: 1150px) {
    .projects{
        flex-direction: row;
        display: grid;
        grid-template-rows: 1fr 1fr;
        flex-direction: row;
        height: 300vh;
    }
    .projects-grid{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .project-title{
        display: flex;
        position:unset;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    .all-projects{
        align-items: center;
        justify-content: center;
    }
}


/*********/

.socials{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-item{
    margin-inline: 20px;
}

