@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'League Spartan', sans-serif;
    --back-color: #eff0f3;
    --head-color: #0d0d0d;
    --p-color: #2a2a2a;
    --button-color : #ff8e3c;
    --btn-text-color: #0d0d0d;
}

body{
    margin: 0;
}
.navbar{
    background-color: transparent;
    margin-top: 30px;
    
    
    
}
.navbar ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-left: 20px;
    
   

}
.navbar-item{
    padding-inline: 30px;
    color: var(--btn-text-color);
    transition: all 250ms;
    cursor: pointer;
    
}
.navbar-item:hover{
    color: var(--button-color);
}
#main{
    background-color: var(--back-color);
    height: 100%;
    width: 100%;
    margin: 0px;
    z-index: 2;
}

/**/

.container-top-button{
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: sticky;
    top: 30px;
    right: 10px;
    cursor: pointer;
    margin-right: 20px;
   color: var(--p-color);

}

.container{
    width: 100%;
    height: 100vh;
    
    align-items: center;
    justify-content: center;
   
}
.title-cont{
    overflow: hidden;
}
.container .title-cont h1{
    font-weight: 500;
    font-size: 60px;
    transition: all 150ms;
    animation-name: appear;
    animation-duration: 3s;    
}
@keyframes appear{
    from{transform: translateY(200px);}
    to{transform: translateY(0px);}

}


.grid-main{
    display: grid;
    height: 110vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: -85px;
}
.grid-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--head-color);
    
}
.grid-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redirect-ab-us{
    cursor: pointer;
    background-color: var(--button-color);
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btn-text-color);
    transition: 250ms;
    margin-top: 20px;
    border: 2px solid var(--button-color);
}
.redirect-ab-us:hover{
    background-color: var(--btn-text-color);
    color: var(--button-color);
}



.img-me{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transition:  400ms;
    border: 4px solid var(--button-color) ;
    
}
.img-me:hover{
    border: 4px solid var(--btn-text-color);
    transform: scale(1.01);
}

@media only screen and (max-width: 871px) {
    .img-me{
        width: 250px;
        height: 250px;
    }
    .container h1{
        text-align: center;
    }
}
@media only screen and (max-width: 556px) {
    .img-me{
        display: none;
    }
    .grid-main{
        display: flex;
    }
    
}
@media only screen and (max-width: 492px) {
    .navbar{
        display: none;
    }
    
}

/**/


.ab-me{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.ab-me-ph{
    
    color: var(--p-color);
}
.ab-me-ph p{
    margin-inline: 300px;
    font-size: 18px;
    line-height: 40px;
}
.ab-me-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--head-color);
}
.title-ab {
    position: relative;
    color: var(--head-color);
    text-decoration: none;
    width: fit-content;
  }
  
  .title-ab::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--head-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  .title-ab:hover::before {
    transform: scaleX(1);
  }
@media only screen and (max-width: 442px) {
    .ab-me{
        height: max-content;
    }
    body{
        height: fit-content;
        width: fit-content;
    }
}
@media only screen and (max-width: 900px) {
    .ab-me-ph p{
        margin-inline: 100px;
    }
}
